<div class="toolbar d-flex align-items-center">
  <img width="40" src="assets/components.png" alt="Angular Logo">
  <span>Welcome to my Github portfolio</span>
  <a class="ms-auto" target="_blank" rel="noopener" href="https://github.com/{{username}}" title="Github">
    <i class="bi-github"></i>
  </a>
</div>
<div class="content d-flex flex-column">
  <div class="row">
    <div class="col-sm-3">
    <app-personel-info></app-personel-info>
  </div>
    <div class="col-sm-9"></div>
    <div class="row">
      <div class="col-12 col-sm-12">
        <app-repositories></app-repositories>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-12 col-sm-12">
        <app-organizations></app-organizations>
      </div>
    </div>
  </div>